@import '../../utility/scss/variables';

.choice-tab {
  height: 10%;
  background: $blue;

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li {
    width: 50%;
  }

  button {
    color: #ffffff;
    font-size: 7vh;
    background: none;
    border: none;
  }

  span {
    font-size: 18px;
  }
}
