.app {
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.wrap {
  width: 100%;
  height: 100%;

  .error {
    color: red;
    line-height: 24px;
  }
}

.content {
  height: 92%;
  background: linear-gradient(
    10deg,
    rgba(244, 235, 160, 1) 43%,
    rgba(192, 250, 202, 1) 43%
  );
}

.notice-content {
  height: 92%;
  background: rgba(244, 235, 160, 1);
}

.main-loading {
  height: 100%;
  background: #f4eba0;
}
